body {
    background-color: #fff; /* Set background color to white or any preferred color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #fff; /* Set button background color to white */
    color: #000; /* Set button text color to black */
    border: 1px solid #000; /* Add a black border */
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Add equal spacing between buttons */
button:not(:nth-child(4n)) {
    margin-right: 10px;
}
